__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

.env
.venv/
venv/
env/

models/*.zip
models/best_model.zip
models/evaluations.npz

data_csv/

*.png
*.jpg

notebooks/.ipynb_checkpoints/

.idea/
.vscode/
*.swp
*.swo
